@font-face {
    font-family: 'A Iranian Sans';
    src: url('AIranianSans.eot');
    src: url('AIranianSans.eot?#iefix') format('embedded-opentype'),
        url('AIranianSans.woff2') format('woff2'),
        url('AIranianSans.woff') format('woff'),
        url('AIranianSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

