*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f3f6;
   font-family: IRANSans;
   font-weight: 400;
}
header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 10px;
  background-color: #fff;
}
header form{
  height: 44px;

}
header form input{
  height: 100%;
  width: 91%;
  background-color: #f1f2f3;
  border: none;
}
header form input:focus{
  outline: none;
  border: 2px solid #1a1f60;
}
header form span {
display: inline-block;
top:50%;
transform: translateY(-50%);
right: 15px
}
header form span svg{
  width: 15px;
  height: 15px;
  fill: #3f444b;
  opacity: 0.6;
}


ul{
  list-style: none;
}
.navbar-container{
  height: 50px;
  
}
.navbar-container.active{
  display: flex !important; 
  flex-direction: column;
  position: absolute;
  height: fit-content;
  left: 0;
  top:60px;
  background-color: #fff;
  width: 100%;
  z-index: 99;
}
.navbar-container li a{
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: .5s;
}
.navbar-container li:hover .submenu{
  display: block;
  min-width:250px;
  width:fit-content;
  position: absolute;
}
.navbar-container li .submenu{
  display: none;
}
.navbar-container li a:hover{
  border-bottom: 3px solid #61CE70;
  color: #61CE70;
  fill:#61CE70
}
.navbar-container li svg{
  width: 1em;
  height: 1em;
}
.navbar-container li a{
  padding: 13px 20px;
  display: flex;
  font-size: .8rem;
  color: #7A7A7A;
  fill: #7A7A7A;
}
.navbar-container li span{
  line-height: 1;
  padding: 10px 10px 10px 0;
  margin-top: -10px;
  margin-bottom: -10px;
  display: flex;
  align-items: center;
}
.navbar-container .submenu{
  background-color: #fff;
  
}
.navbar-container .submenu li a:hover{
  border: none;
  background-color: #3f444b;
  color: #fff
}

.menubar-icon{
  cursor: pointer;
}
.menubar-icon svg{
  width: 24px;
  height: 24px;
}

@media (max-width: 992px) {
  /* .navbar-container.active li{
    bordertop
  } */
   header.active .menubar-icon .open, 
   header .menubar-icon .close{
     display: none !important;
  }
  header.active .menubar-icon .close, 
  header .menubar-icon .open{
     display: flex !important;
   }

  .navbar-container.active li{
    text-align: right;
    border-top: 1px solid #eee;
    width: 100%;
    
  }
  .navbar-container.active li:hover{
    background-color: #424242;
    color: #fff;
    
  }
}

@media (min-width: 1200px)
{

  .container{
    max-width: 1140px;
    padding: 0;
  }
}
main{
margin-top: 100px;
}
.brokers-spread-top p{
    font-family: IRANSans;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.8rem;
    text-align: justify;
}

.brokers-spread-top p strong{
    font-family: IRANSans;
    font-weight: 600;
}
.brokers-spread-table-filters{
    background-color: #fff;
}
.brokers-spread-table-filters .input-group-text,
.brokers-spread-table-filters input{
    background-color: #f1f3f6;
    color: #888;
}
.brokers-spread-table-filters input::placeholder{
    color: #bbb;
    font-weight: 400;
    font-size: 0.9rem
}
.brokers-spread-table-filters input:focus{
    outline: none;
    box-shadow: none;
}
.include-checkbox {
    flex-shrink: 0;
    min-width: fit-content;
    color: #28a745;
    font-size: 0.75rem;
}
.include-checkbox label{
    cursor: pointer;
    
}
input[type="checkbox"] {
    cursor: pointer;
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color:  #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1rem;
    height: 1rem;
    border: 0.1rem solid currentColor;
    
    border-radius: 50%;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    /* box-shadow: inset 1em 1em #28a745; */
    /* Windows High Contrast Mode */
    background-color: #28a745;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  #brokers-selection{
    width: 20rem;
    height: 40px;
    font-size: 0.8rem;
    color: #666;
    font-weight:400 ;
    background-color: #f1f3f6;
    border: 1px solid #eee;
    cursor: pointer;
    /* border: none; */
  }
  #brokers-selection:focus{
    outline: none;
    box-shadow: none;
  }
  .edit-symbol{
    border: 1px solid #007bff;
    color: #007bff;
    font-size: 0.9rem;
    background-color: #fff;
    transition: 0.5s;

  }
  .edit-symbol:hover{
    background-color: #007bff;
    color: #fff;

  }
  .table-container{
    max-width: 100%;
    overflow-x: auto;
    border: 4px solid #fff
  }
  .table{
    /* overflow-x: hidden; */
  }
.table-container th , .table-container td{
    background-color: #EAEBED;
}
 table{
  position: relative;
 } 
  .table-container thead th{
    border: 2px solid #fff;
    border-top: none;
  }
  .table-container  th > div{
    border-left: 4px solid #fff;
  }
  .table-container tr{
    border: 4px solid #fff;
    border-right: none;
    border-top: none;
  }
  .table-container tr td{
    vertical-align: middle;
    text-align: center;
    font-size: .75rem;
  }
 
  .table-container tr td , .table-container tr th{
    text-align: center;
    font-weight: 400;
  }
  
   .table-container thead th{
    background-color: #a6c3ff ;
    color: #fff;
   }
   .table-container thead th:first-child{
    background-color: #007bff ;
   }
 
   .table-container  th:first-child {
    position:sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    right:0px; 
    align-self : flex-start;
    z-index: 9999;
   }
   .table-container tr{
    display: contents;
    overflow: auto;
   }
.brokers-table-title a.broker-link{
  font-size: .75rem;
  color: #999;
  border: 3px solid #D5D5E0;
  text-decoration: none;
}
.brokers-table-title h6{
  color: #202CC7;
  font-size: .7rem;
  font-weight: bold;
}
.brokers-table-title span{
  color: #999;
  font-size: .7rem;
}
.brokers-table-title img{
  width: 100%
}



footer{
  padding: 10px;
  padding-top: 150px;
  margin-top: 30px;
  width: 100%;
  /* height: 600px; */
  background-image: url("./image/footer-blue.svg");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}
footer *{
  color: #fff;
}
footer h6{
  font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
footer p{
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}
footer a{
  text-decoration: none;
  font-size: 14px;
  padding: 4px 0;
  display: inline-block;
}
footer .social *{
  color: #01339D;

}
footer .social a i{
  font-size: 1.5rem;
}
.social-footer *{
  color: #fff !important;
}
@media (max-width: 768px){
  footer{
    margin-top: 0px !important;
    background-color: #01339D;
    background-image: unset;
  }
  .top-footer{
    margin-top: 100px;
    position: relative !important;
    /* top: -80px !important; */
    background-image: url("./image/mobile-footer-blue.svg");
    background-size: cover;
  }

}